*~*
temp/*
!temp/tagTemp.txt
*.swp
*bin/tylerhayes/*
.classpath
.project
*.pyc
.setting*
build/*
!temp/previous_movie_ratings.txt
!temp/crewTagTemp.txt
lib/*
web/WEB-INF/lib/*
ivy-report
test-results/*
conf/tmdb.properties
**/*.DS_Store
.pydevproject
