body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.filth-background-default {
    background-color: #ccc;
}

.filth-background-0 {
    background: url("../images/backgrounds/310-1.jpg") no-repeat center center fixed;
}

.filth-background-1 {
    background: url("../images/backgrounds/xxxx.jpg") no-repeat center center fixed;
}

.filth-background-2 {
    background: url("../images/backgrounds/xxxx.jpg") no-repeat center center fixed;
}

.filth-background-3 {
    background: url("../images/backgrounds/2001-3.jpg") no-repeat center center fixed;
}

.filth-background-4 {
    background: url("../images/backgrounds/ag1.jpg") no-repeat center center fixed;
}

.filth-background-5 {
    background: url("../images/backgrounds/an1.jpg") no-repeat center center fixed;
}

.filth-background-6 {
    background: url("../images/backgrounds/an5.jpg") no-repeat center center fixed;
}

.filth-background-7 {
    background: url("../images/backgrounds/bf1.jpg") no-repeat center center fixed;
}

.filth-background-8 {
    background: url("../images/backgrounds/bf2.jpg") no-repeat center center fixed;
}

.filth-background-9 {
    background: url("../images/backgrounds/bf3.jpg") no-repeat center center fixed;
}

.filth-background-10 {
    background: url("../images/backgrounds/bwp1.jpg") no-repeat center center fixed;
}

.filth-background-11 {
    background: url("../images/backgrounds/chinatown1.jpg") no-repeat center center fixed;
}

.filth-background-12 {
    background: url("../images/backgrounds/dda1.jpg") no-repeat center center fixed;
}

.filth-background-13 {
    background: url("../images/backgrounds/dk1.jpg") no-repeat center center fixed;
}

.filth-background-14 {
    background: url("../images/backgrounds/dk2.jpg") no-repeat center center fixed;
}

.filth-background-15 {
    background: url("../images/backgrounds/dk3.jpg") no-repeat center center fixed;
}

.filth-background-16 {
    background: url("../images/backgrounds/doh1.jpg") no-repeat center center fixed;
}

.filth-background-17 {
    background: url("../images/backgrounds/doh2.jpg") no-repeat center center fixed;
}

.filth-background-18 {
    background: url("../images/backgrounds/doubt1.jpg") no-repeat center center fixed;
}

.filth-background-19 {
    background: url("../images/backgrounds/du3.jpg") no-repeat center center fixed;
}

.filth-background-20 {
    background: url("../images/backgrounds/e1.jpg") no-repeat center center fixed;
}

.filth-background-21 {
    background: url("../images/backgrounds/elephant1.jpg") no-repeat center center fixed;
}

.filth-background-22 {
    background: url("../images/backgrounds/esb1.jpg") no-repeat center center fixed;
}