body {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

#rootContentContainer {
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 40px;
    padding: 10px;
    background-color: #eee;
    opacity: 0.9;
}

.button {
    /* default color */
    background-color: #ccc;
    
    padding: 5px 10px;
    border-radius: 3px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    
    /* fade in/out effect */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.button:hover {
    /* default hover color */
    background-color: #eee;
    color: #999;
}

.button.blueButton,
.button.editButton {
    background-color: #cddeef;
}
.button.blueButton:hover,
.button.editButton:hover {
    background-color: #deefff;
}

.button.redButton,
.button.deleteButton {
    background-color: #f57f70;
}
.button.redButton:hover,
.button.deleteButton:hover {
    background-color: #ffcdc7;
}

.button.greenButton,
.button.addButton {
    background-color: #9c9;
}
.button.greenButton:hover,
.button.addButton:hover {
    background-color: #beb;
}

a {
    color: inherit;
    text-decoration: none;
}

.hidden {
    display: none;
}

.error {
    color: #c22;
}

.success {
    color: #080;
}

.even,
table.dataTable tbody tr.even {
    background-color: #eee;
}

#footer {
    text-align: center;
    opacity: 0.9;
    color: #eee;
    text-shadow: 1px 1px #555;
}

#footer a {
    color: #add8e6;
    font-weight: bold;
}

#bgImageMovie {
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}

.remodal.modal {
    border-radius: 10px;
    background-color: #eee;
}

/* force alertify messages up front */
section#alertify-logs {
    z-index: 999999999;
}