body {
    margin: 0;
    min-width: 700px;
    min-height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.filth-background-default {
    background-color: #ccc;
}

.filth-background-0 {
    background: url("../images/backgrounds/310-1.jpg") no-repeat scroll center center;
}

.filth-background-1 {
    background: url("../images/backgrounds/310-2.jpg") no-repeat scroll center center;
}

.filth-background-2 {
    background: url("../images/backgrounds/400-1.jpg") no-repeat scroll center center;
}

.filth-background-3 {
    background: url("../images/backgrounds/2001-3.jpg") no-repeat scroll center center;
}

.filth-background-4 {
    background: url("../images/backgrounds/ag-1.jpg") no-repeat scroll center center;
}

#rootContentContainer {
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
    background-color: #eee;
    opacity: 0.9;
}

.button {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 4px 12px;
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #b3b3b3;
    color: #515254;
    display: inline-block;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

.button.buttonPrimary {
    background-color: #f58e4d;
    background-image: linear-gradient(to bottom, #f7a16a, #f37321);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.error {
    color: #c22;
}

.success {
    color: #080;
}