#listHeader {
    min-height: 60px;
}

#listTitleDisplay,
#listAuthorDisplay,
#by span {
    vertical-align: middle;
}

#listTitleDisplay,
#listAuthorDisplay {
    padding: 5px;
}

#listTitleDisplay,
#listAuthorDisplay,
.listRankDisplay,
.listCommentsDisplay {
    cursor: pointer;
}

.listRankDisplay {
    width: 25px;
    text-align: center;
    padding: 3px;
}

.listCommentsDisplay {
    padding: 3px;
}

#listTitleDisplay:hover,
#listAuthorDisplay:hover,
.listRankDisplay:hover,
.listCommentsDisplay:hover {
    border: solid 1px #bbb;
    border-radius: 5px;
}

.listRankEdit {
    width: 25px;
}

#listTitle,
#listAuthor,
#by {
    float: left;
    font-size: 2em;
}

#listTitleDisplay,
#listTitleEdit {
    font-weight: bold;
}

#listTitle,
#by {
    margin-right: 20px;
}

#listAuthor,
#by {
    margin-left: 20px;
    color: #aaa;
    font-style: italic;
}

#listAuthorEdit {
    border-radius: 7px;
    font-size: 1em;
    color: #aaa;
    font-style: italic;
}

#listTitleEdit {
    border-radius: 7px;
    font-size: 1em;
}

#addMovieLink,
#backToListsLink {
    float: right;
    margin: 12px 10px 7px 10px;
}

#backToListsLink {
    color: whitesmoke;
    font-weight: bold;
}

/* Override standard.css */
body #rootContentContainer {
    margin-top: 5px;
    height: 68vh;
}