#listHeader {
    min-height: 60px;
    
    /* override standard.css */
    border: none;
    background-color: transparent;
}

#listHeaderLeft {
    width: 80%;
}

.rankColumn {
    text-align: center;
}

.rankInput {
    width: 25px;
    text-align: center;
}

.commentsInput {
    width: 100%;
}

#listTitleDisplay,
#listAuthorDisplay {
    vertical-align: middle;
    margin-right: -9999px;
    padding: 5px;
    width: 100%;
    float: left;
}

.contentInput:hover + .contentDisplay,
.contentInput {
    opacity: 0.0;
}

.contentInput:focus,
.contentInput:hover {
    opacity: 1.0
}

#listTitle,
#listAuthor {
    font-size: 1.75em;
    margin-top: 3px;
}

#listTitleDisplay,
#listTitleEdit {
    font-weight: bold;
}

#listTitle {
    text-shadow: 1px 1px 5px #fff;
}

#listAuthor {
    color: #ddd;
    font-style: italic;
    text-shadow: 1px 1px 5px #222;
}

#listAuthorEdit {
    color: #aaa;
    font-style: italic;
}

#listAuthorEdit,
#listTitleEdit {
    border-radius: 7px;
    font-size: 1em;
    width: 100%;
}

#listHeaderRight .button {
    margin: 12px 10px 7px 10px;
    display: inline-block;
}

#backToListsButtonContainer {
    color: whitesmoke;
    font-weight: bold;
}

/* Override standard.css */
body #rootContentContainer {
    margin-top: 5px;
    height: 68vh;
}

#editListMoviesTable .movieTitle {
    text-align: left;
}

#editPanel {
    z-index: 10;  
    position: fixed;  
    right: 0;  
    top: 0;
    padding: 20px;
    border-radius: 15px;
    background-color: #ccddee;
    height: 90%;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
    margin: 10px;
    width: 45%;
}

/* Override standard.css for input padding */
#listMoviesTable input {
    padding: 4px;
}