#listTitleDisplay,
#listAuthorDisplay,
.listRankDisplay {
    cursor: pointer;
}

.listRankDisplay {
    width: 25px;
    text-align: center;
}
#listTitleDisplay:hover,
#listAuthorDisplay:hover,
.listRankDisplay:hover {
    border: solid 1px #bbb;
    border-radius: 5px;
}

.listRankEdit {
    width: 25px;
}

#listTitle,
#listAuthor {
    float: left;
    font-size: 2em;
}

#listTitleDisplay {
    font-weight: bold;
}

#listTitle,
#by {
    margin-right: 25px;
}

#listAuthor {
    margin-left: 25px;
    color: #aaa;
    font-style: italic;
}

#addMovieLink,
#backToListsLink {
    float: right;
    margin: 7px 10px;
}

#backToListsLink {
    color: whitesmoke;
    font-weight: bold;
}

/* Override standard.css */
body #rootContentContainer {
    margin-top: 5px;
    height: 68vh;
}