<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">

    <property name="LOG_FILE" value="/home/thayes/workspace/tomcat8/logs/filth.log"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS,America/New_York}][level=%p][tracekey=%X{tracekey}][user=%X{user}][uri=%X{uri}][logger=%logger]: %m%n%ex</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 10MB -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>